.main-banner{
    width: 100vw;
    .banner-image{
        position: relative;
        img{
            width: 100vw;
            overflow: hidden;
            margin-left: -12px;
            box-shadow : 0px 6px 11px -6px #000000;
            border-radius: 4px;
        }
        .banner-desc{
            position: absolute;
            bottom : 0;
            left : 15px;
            .banner-badge{
                font-weight: 700;
                font-family:'Times New Roman', Times, serif;
                font-style: italic;
                text-align: center;
                display: block;
                width: 100px;
                height: 24px;
                background-color: #fff;
                border-radius: 15px;
            }
            p{
                color: white;
                font-size: 22px;
                font-weight: 700;
            }
        }
    }
}